[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
Documentation=http://docs.syncthing.net/
After=docker.service

[Service]
Restart=always
EnvironmentFile=-/etc/default/docker-syncthing
ExecStart=/usr/bin/docker run --rm --name syncthing -h %H_syncthing -p 8384:8384 -p 22000:22000 -v syncthing_data:/etc/syncthing $VOLUMES nventiveux/docker-syncthing:0.14.18

[Install]
WantedBy=multi-user.target
